<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LogPath" value="E:\KeepLearn\C#\Basic-Review\IOSerialize\IODemo"/>
		<add key="MovePath" value="E:\KeepLearn\C#\Basic-Review\IOSerialize\IODemo1"/>
	</appSettings>
</configuration>